
/*desktop*/
@media (min-width: 650px) {
  .wrapper {
    max-width: 900px;
    margin: 0 auto;
  }
}

/*mobile*/
@media (max-width: 650px) {
  .wrapper {
    margin: 5px 10px;
    
  }  
}

.wrapper_outer {
  margin: 5px;
}

