
/* desktop */
@media (min-width: 650px) {
  .wrapper {
    max-width: 900px;
    margin: 0 auto;
  
    min-height: 100vh; 
    display: grid;
    grid-template-rows: auto 1fr auto;  
  }
  
}

/* mobile */
@media (max-width: 650px) {
  .wrapper {
    /*max-width: 900px;*/
    margin: 0 auto;
  
    min-height: 100vh; 
    display: grid;
    grid-template-rows: auto 1fr auto;  
  }
  
}
